.parent{
    width: 45vw;
    height: 40vh;
    margin: 2rem;
    box-sizing: border-box;
}

@media(max-width: 800px){
    .parent{
        width: 85vw;
        height: 40vh;
        margin: 2rem;
        box-sizing: border-box;
    }
}

@media(max-width: 390px){
    .parent{
        width: 95vw;
        height: 25vh;
        margin: 2rem;
        box-sizing: border-box;
    }
}